<link rel="stylesheet" href="css/app.css">
<div aling="center">
<table id="chess_board" cellpadding="0" cellspacing="0">
    <tr ng-repeat="row in rows">
        <td class="{{ item.selected }}" ng-repeat="item in row">{{ item.value }}</td>
    </tr>
</table>
</div>